.App {
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

li {
  list-style: none;
}

.input1 {
  width: 60%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}

input:focus {
  outline: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app-content {
  background-color: lightblue;
  min-width: 850px;
  min-height: 650px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}